<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action = "/updateImage" method="post" enctype="multipart/form-data">
    <label for="imageId">Id :</label><br>
    <input type="text" id="imageId" name="imageId" placeholder="Id here"/><br>
    <label for="imageName">Name :</label><br>
    <input type="text" id="imageName" name="imageName" placeholder="Name here"/><br>
    <label for="imageDescription">Description :</label><br>
    <input type="text" id="imageDescription" name="imageDescription" placeholder="Description here"/><br>
    <label for="imageOwner">Owner :</label><br>
    <input type="text" id="imageOwner" name="imageOwner" placeholder="Description here"/><br>
    <label for="image">Select a file:</label>
    <input type="file" id="image" name="image"><br><br>
    <input type="submit" value="Submit">
</body>
</html>